<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.lab.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStore</servlet-name>
        <servlet-class>com.lab.controller.UserStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.lab.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMembershipServlet</servlet-name>
        <servlet-class>com.lab.controller.InsertMembershipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMembershipServlet</servlet-name>
        <servlet-class>com.lab.controller.ViewMembershipServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMembershipServlet</servlet-name>
        <servlet-class>com.lab.controller.DeleteMembershipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStore</servlet-name>
        <url-pattern>/UserStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMembershipServlet</servlet-name>
        <url-pattern>/InsertMembershipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMembershipServlet</servlet-name>
        <url-pattern>/ViewMembershipServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMembershipServlet</servlet-name>
        <url-pattern>/DeleteMembershipServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
